.about {
  padding: 60px 0px;
  margin-bottom: 20px;

  .title {
    text-align: center;
    h2 {
      color: #72c057;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    p {
    }
  }
}
