.thumbnail_products {
  flex-direction: column;
  padding-top: 118px;

  box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0);

  .desc {
    margin-top: 50px;
    p {
      color: #fff;
    }
  }
}
.product_page {
  padding: 40px 0px;
  .single_category {
    .background {
      background-color: #000000;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .single_category_thumb {
      min-height: 415px;
      padding: 50px 20px;
      text-align: center;
      background-color: #312f30;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: url(../../img/decor2@2.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        width: 100%;
        height: 30px;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url(../../img/mask-tile.png);
        background-repeat: repeat-x;
        background-position: right bottom;
        background-size: contain;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      h2 {
        color: #fff;
        font-size: rem(36);
        font-weight: 700;
        font-family: "Bebas Neue", sans-serif;
        position: relative;
        z-index: 20;
      }
    }
    .content {
      height: 100%;
      padding: 15px 20px;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      p {
        color: #fff;
      }
      .btn {
        margin-bottom: 15px;
        a {
          background-color: #4fa436;
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.page-template-single_category {
  .title {
    h1 {
      color: #fff;
    }
  }
  .category_container {
    padding-bottom: 50px;
    padding-top: 115px;
    max-width: 1600px;

    .desc_category {
      color: #fff;
      text-align: left;
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 85px;

      h2 {
        text-transform: inherit;
        font-weight: 400;
        font-family: "Bebas Neue", sans-serif;
        margin-bottom: 25px;
      }
      hr {
        background-color: #72c057;
        width: 90px;
        height: 3px;
        margin-left: 0px;
        margin-bottom: 80px;
      }
    }
  }
  .category_list {
    background-color: #fff;
    padding: 50px 10px;
    .single_category {
      margin-bottom: 20px;
      padding: 20px 40px;

      .link_thumb {
        display: inline-block;
        min-height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        max-width: 100%;
        margin-bottom: 15px;
        max-height: 250px;
      }
      a {
        p {
          color: #333132;
          font-weight: 400;
          font-family: "Bebas Neue", sans-serif;
          line-height: 22px;
        }
      }
      .btn {
        a {
          padding: 18px 25px;
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.page-template-single_product {
  .thumbnail_products {
    & > .container {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-image: url(../../img/mask-product-sheet-header.png);
      background-repeat: repeat-x;
      background-position: center center;
      background-size: contain;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .title {
      h1 {
        line-height: 70px;
      }
    }
  }
  .img_product {
    margin-bottom: 40px;
    margin-top: 40px;

    img {
      max-width: 700px;
    }
  }
  .category_list {
    padding: 50px 0px;

    .category_list_title {
      text-align: center;

      h2 {
        color: #333132;
        font-family: "Bebas Neue", sans-serif;
      }
    }
  }
  .single_category {
    margin-bottom: 30px;
    padding: 20px 40px;
    text-align: center;
    .link_thumb {
      min-height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 250px;
      margin-bottom: 30px;
    }
    a {
      p {
        color: #333132;
        font-weight: 400;
        font-family: "Bebas Neue", sans-serif;
        line-height: 22px;
      }
    }
  }
}
.archive_category {
  margin-top: 50px;
}
