.container_map {
  max-width: 1650px;
}
.thumbnail.thumbnail_contact {
  flex-direction: column;
  padding-top: 118px;

  .desc_contact {
    margin-top: 60px;
    margin-bottom: 20px;
    h2 {
      margin-bottom: 0px;
    }
    p {
      color: #fff;
    }
  }
  .map_link {
    position: relative;
    .map_hover {
      position: absolute;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: contain;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      img.show {
        opacity: 1;
      }
    }
    path {
      background-color: transparent !important;
      fill: transparent !important;
      stroke: transparent !important;
    }
    .hotspots-image-container img.hide {
      opacity: 0;
    }
    .hotspots-placeholder {
      display: none;
    }
    #hotspot-152 .hotspots-image-container,
    #hotspot-152 .leaflet-container {
      background-color: transparent !important;
    }
  }
}

.address {
  padding: 50px 0px 50px 0px;
  & > .container {
    max-width: 1150px;
  }
  .address_single {
    padding: 20px 15px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: rem(24);
    color: #333132;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  p {
    font-size: rem(16);
  }
  a {
    font-size: rem(16);
    color: #72c057;
  }
}

.persons {
  background-color: #eaeaea;
  padding: 110px 0px;

  & > .container {
    max-width: 1150px;
  }
  .title {
    h2 {
      font-weight: 400;
    }
  }
  hr {
    background-color: #f6cf38;
    width: 90px;
    height: 3px;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .persons_single {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    .image {
      max-width: 120px;
      flex: 0 0 120px;
      img {
        width: 110px;
        height: 110px;
        max-width: inherit;
        border-radius: 50%;
      }
    }
    .content {
      max-width: calc(100% - 120px);
      flex: 0 0 calc(100% - 120px);
      padding-left: 10px;
      h3 {
        font-size: rem(24);
        color: #333132;
        font-weight: 700;
        margin-bottom: 0px;
        text-transform: uppercase;
      }
      p {
        font-size: rem(16);
      }
      a {
        font-size: rem(16);
        color: #72c057;
      }
    }
  }
}

.world {
  padding: 70px 0px;
  overflow: hidden;
  & > .container {
    max-width: 1150px;
  }
  .single_world {
    position: relative;
    .map_city {
      position: absolute;
      top: 50px;
      right: -200px;
      width: 60%;
    }
  }
  .title {
    margin-top: 30px;
    h2 {
      text-transform: uppercase;
      font-weight: 400;
    }
    hr {
      background-color: #72c057;
      width: 90px;
      height: 3px;
      margin-left: 0px;
      margin-bottom: 0px;
      margin-top: 25px;
    }
  }
  .loop_city {
    padding-right: 40px;
  }
  .single_city {
    padding: 10px 15px;
    margin-bottom: 25px;

    h3 {
      font-size: rem(24);
      color: #333132;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    p {
      font-size: rem(16);
      margin-bottom: 20px;
    }
    a {
      font-size: rem(16);
      color: #72c057;
    }
  }
  .empty_city {
  }
}

.btn{
  margin: 0 auto;
  outline: none;
  border: none;
  /* padding: 18px 25px; */
  font-size: 24px;
  font-family: Bebas Neue, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.btn-green{
  color: #fff !important;
  background-color: #63bc5a !important;
  border-radius: 0px !important;
}
.btn-yellow{
  color: #000 !important;
  background-color: #fad537 !important;
}

