.news_page {
  padding: 50px 0px;
  .form_news {
    display: none;
  }
  .filter_container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 5px;
    margin-bottom: 30px;

    .page_filter {
      max-width: 230px;
      flex: 0 0 230px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 5px;

      p {
        margin-bottom: 0px;
        font-size: rem(15);
        color: #333132;
      }
      select {
        background-color: #eaeaea;
        border: none;
        padding: 10px 30px 10px 20px;
        margin-left: 15px;
        background-image: url(/wp-content/themes/weblider/assets/img/list-point1@2.png);
        background-repeat: no-repeat;
        background-position: 80% center;
        background-size: 10px;
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
      }
      select::-ms-expand {
        display: none;
      }
    }
    .filter_news {
      max-width: calc(100% - 230px);
      flex: 0 0 calc(100% - 230px);

      .category_filter {
        display: flex;
        flex-wrap: wrap;

        .single_cat {
          padding: 10px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            font-size: rem(30);
            font-weight: 400;
            font-family: "Bebas Neue", sans-serif;
            margin-bottom: 0px;
            margin-top: 0px;
          }
          a {
            display: block;
            background-color: #eaeaea;
            color: #333132;
            font-size: rem(15);
            padding: 10px 30px;
            text-align: center;
            min-width: 125px;
          }
        }
        .single_cat.active {
          a {
            color: #fff;
            background-color: #72c057;
          }
        }
      }
    }
  }
}
.list_post {
  a{
    text-decoration: none;
  }
  .single_post {
    margin-bottom: 15px;
    padding: 0px 0px;
    .background {
      background-color: #eaeaea;
      transition: background-color 0.4s;
      height: 100%;
    }
    a {
      background-color: #fff;
      padding: 10px 10px;
      transition: background-color 0.4s;
      display: block;
      height: 100%;
      &:hover {
        background-color: #333132;
        .background {
          background-color: #333132;

          h3,
          p {
            color: #fff;
          }
          .date {
            p {
              color: #fff;
            }
          }
        }
        .content {
          .category_post {
            p {
              color: #000;
            }
          }
        }
      }
    }
    .zoom {
      .thumbnail_post {
        height: 275px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
    .content {
      padding: 30px 30px;
      text-align: center;
      position: relative;
      .category_post {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -13px;
        left: 0px;
        width: 100%;
        p {
          margin-bottom: 0px;
          background-color: #fff;
          padding: 4px 15px;
          margin-right: 3px;
          color: #333132;
          font-size: rem(11);
          text-transform: uppercase;
        }
        .imageCount {
          background-image: url(../../img/icon-photos@2.png);
          background-size: 14px;
          background-repeat: no-repeat;
          background-position: 5px 4px;
          padding-left: 25px;
        }
      }
      h3 {
        transition: color 0.4s;
        font-weight: 400;
        font-family: "Bebas Neue", sans-serif;
        font-size: rem(20);
        color: #333132;
        margin-bottom: 30px;
      }
      p {
        transition: color 0.4s;
        color: #333132;
        font-size: rem(16);
      }
      .date {
        p {
          margin-bottom: 0px;
          color: #333132;
          font-size: rem(11);
          transition: color 0.4s;
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 8px;
            left: 0%;
            width: 35%;
            height: 1px;
            background-color: #d7d7d7;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 8px;
            right: 0%;
            width: 35%;
            height: 1px;
            background-color: #d7d7d7;
          }
        }
      }
    }
  }
}
.pagination_container {
  padding: 30px 15px;
  .pagination {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .prev-page,
    .next-page {
      display: flex;
      align-items: center;
      span,
      a {
        font-size: rem(15);
        color: #333132;
        padding: 13px 15px;
        font-weight: 400;
      }
      span {
        opacity: 0.7;
      }
    }

    .next-page {
      .img-next {
        background-image: url(../../img/navigation-arrow-right@2.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 15px;
        height: 18px;
      }
    }
    .prev-page {
      .img-prev {
        background-image: url(../../img/navigation-arrow-left@2.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
      }
    }
    .number-content {
      display: flex;
      a,
      span {
        display: block;
        font-size: rem(15);
        color: #333132;
        padding: 13px 18px;
        background-color: #eaeaea;
        margin-left: 4px;
        margin-right: 4px;
      }
      span {
        padding: 13px 60px;
        background-color: #72c057;
        color: #fff;
      }
    }
  }
}
