.breadcrumb_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  position: relative;
  z-index: 50;
  span,
  a {
    color: #fff;
    font-size: rem(15);
    white-space: nowrap;
  }
  span {
    span {
      &:nth-child(1) {
        &:before {
          display: none;
        }
      }
    }
    &:nth-last-child(1) {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -4px;
        right: -30px;
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url(../../img/breadcrumbs-arrow@2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 4px;
        z-index: 1;
      }
    }
  }
  .arrow {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../../img/breadcrumbs-arrow@2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4px;
  }
  .home {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../../img/breadcrumbs-home@2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px;
  }
}
.thumbnail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-bottom: 50px;

  @media (max-width: 1024px) {
    min-height: 280px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-image: url(../../img/maskowanie.png);
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 1;
  }

  .title {
    h1 {
      font-size: rem(79);
      color: #fff;
      text-transform: uppercase;
    }
  }
}
.sample_page {
  padding: 50px 0px 0px 0px;

  .gallery_with_big {
    padding: 50px 0px;
    .container {
      max-width: 1330px;
    }
    ul {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 270px;
      grid-auto-flow: row dense;
      align-items: stretch;
      justify-content: stretch;
      grid-gap: 25px;

      li {
        grid-column: span 1;
        grid-row: span 1;
        padding: 0px 0px;
        overflow: hidden;
        &:before {
          display: none;
        }
        a {
          display: block;
          width: 100%;
          height: 270px;
          backface-visibility: hidden;
          transition: transform 0.4s;
          &:hover {
            transform: scale(1.05);
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .big {
        grid-column: span 2;
        grid-row: span 2;
        a {
          height: 100%;
        }
      }
    }
  }
  .gallery {
    padding: 30px 0px;
    .container {
      max-width: 1330px;
    }
    ul {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 270px; // wysokość jednej kolumny
      grid-auto-flow: row dense; // wypełnia luki
      align-items: stretch; // rozciąganie elementu
      justify-content: stretch; // rozciąganie elementu
      grid-gap: 25px; // przerwa między kolumnami

      li {
        grid-column: span 1;
        grid-row: span 1;
        padding: 0px 0px;
        overflow: hidden;
        &:before {
          display: none;
        }
        a {
          display: block;
          width: 100%;
          height: 270px;
          backface-visibility: hidden;
          transition: transform 0.4s;
          &:hover {
            transform: scale(1.05);
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .big_img {
    padding: 30px 0px;
    position: relative;
    .container {
      max-width: 1330px;
    }
    .label {
      background-color: #e2e1e0;
      position: absolute;
      bottom: 0px;
      left: 15px;
      padding: 10px 15px;
      p {
        margin-bottom: 0px;
        color: #333132;
        font-size: rem(16);
      }
    }
  }

  .desc_block {
    .container {
      max-width: 1150px;
    }
    h2 {
      margin-bottom: 40px;
    }
    ul {
      list-style-type: none;
      padding-left: 20px;
      li {
        position: relative;
        padding: 5px 0px;
        &:before {
          content: "";
    background-color: #63BC5A;
    display: inline-block;
    position: absolute;
    top: 13px;
    margin-right: 10px;
    left: -10px;
    background-repeat: no-repeat;
    background-size: 10px;
    width: 7px;
    height: 7px;
    z-index: 1;
        }
      }
    }
  }
  .text_grey {
    background-color: #eaeaea;
    padding: 50px 0px;
    margin-top: 50px;
    hr {
      background-color: #f6cf38;
      width: 90px;
      height: 3px;
      margin-left: 0px;
    }
  }
}
