.video_container {
  margin-top: 20px;
  margin-bottom: 20px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .single-film {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  .embed-container {
    height: 100%;
  }
  .desc-film {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 600px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.1);
      }
    }
    img {
      max-width: 102px;
      margin-bottom: 15px;
      transition: all 0.4s;
    }
  }
}

.text_block {
  padding: 30px 0px;
  h2 {
    margin-bottom: 40px;
  }
}

.page_flexible {
  padding-top: 65px;
}
.section_with_box {
  background-color: #eaeaea;
  padding: 60px 0px 60px 0px !important;
  & > .container {
    max-width: 1550px;
  }
  hr {
    background-color: #f6cf38;
    width: 90px;
    height: 3px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .single_box {
    margin-bottom: 40px;
    padding-right: 50px;
    li{
      font-size:18.375px !important;
    }

    h3 {
      font-size: rem(22);
      font-weight: 700;
      color: #333132;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    ul {
      li {
        font-size: rem(21);
        padding: 5px 15px;
      }
    }
  }
}
.video_photo {
  padding: 100px 0px;
  .container {
    max-width: 1350px;
  }
  .swiper_video_photo {
    padding: 30px 0px;
    .swiper-wrapper {
      padding-bottom: 0px;
      margin-top: 10px;
    }
  }
  .swiper-pagination {
    bottom: 0px;
    span {
      background-color: #000;
      width: 11px;
      height: 11px;
    }
  }
  .swiper-button-prev {
    width: 50px;
    height: 80px;
    background-color: #fff;
   background-image: url('/wp-content/themes/weblider/assets/img/navigation-arrow-left@2.png'); 
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
    left: 0px;
  }
  .swiper-button-next {
    width: 50px;
    height: 80px;
    background-color: #fff;
    background-image: url('/wp-content/themes/weblider/assets/img/navigation-arrow-right@2.png');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
    right: 0px;
  }
  iframe,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper_content {
    height: 330px;
    padding: 10px 10px;
  }
  .embed-container {
    height: 100%;
  }
  .swiper-slide {
    height: auto;
  }
}
.page_header {
  background-color: #464445;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;

  .single_link.active {
    a {
      background-color: #4fa436;
      text-decoration: none;
      &:before {
        opacity: 1;
      }
    }
  }
  a {
    display: block;
    padding: 20px 40px;
    font-size: rem(15);
    color: #fff;
    position: relative;
    transition: all 0.4s;
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 11px;
      padding: 5px 10px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #4fa436 transparent transparent transparent;
      opacity: 0;
      transition: opacity 0.4s;
    }
  }
}

.page-template-single_product {
  .desc_img_left,
  .desc_img_right {
    background-color: #333132;
    hr {
      background-color: #72c057;
      width: 90px;
      height: 3px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
    h2 {
      margin-bottom: 30px;
    }
    p,
    h2,
    h3 {
      color: #fff;
    }
    p {
      line-height: 35px;
    }
    ul {
      li {
        color: #fff;
        padding: 5px 15px;

        &:before {
          background-image: url(/wp-content/themes/weblider/assets/img/list-point1@2.png);
          top: 13px;
        }
      }
    }
  }
}
