.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-control {
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

    &:focus {
      border-color: #63bc5a;
      box-shadow: 0px 0px 0px 0.25rem rgba(99, 188, 90, 0.25);
    }
  }

  .btn-outline-success {
    background-color: #63bc5a;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 18px 35px;
    min-width: 205px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0px;
    margin-top: 20px !important;
  }
}

.card-img-top {
  margin-top: 25px;

  img,
  video {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.card-text {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
}

.prev-page,
.next-page {
  background-color: #63bc5a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  a {
    color: #fff !important;
  }
}

.prev-page {
  background-color: #eaeaea;
}

.text-video {
  color: #212529;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
