.um input[type="submit"].um-button,
.um input[type="submit"].um-button:focus,
.um a.um-button,
.um a.um-button.um-disabled:hover,
.um a.um-button.um-disabled:focus,
.um a.um-button.um-disabled:active {
  background-color: #72c057 !important;
}

.um .um-button.um-alt,
.um input[type="submit"].um-button.um-alt {
  background-color: #eee !important;
}

.container .um-profile {
  margin-top: 125px !important;
  margin-bottom: 125px !important;
}

.container .um-button {
  border-radius: 0px !important;
}

.um {
  margin-bottom: 3rem !important;
}

.um-profile-body.main-default {
  display: none;
}

.um-cover.um-trigger-menu-on-click {
  display: none;
}

.um-profile-nav {
  display: none;
}

.um-right a {
  box-shadow: none !important;
}

.um .um-tip:hover,
.um .um-field-radio.active:not(.um-field-radio-state-disabled) i,
.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i,
.um .um-member-name a:hover,
.um .um-member-more a:hover,
.um .um-member-less a:hover,
.um .um-members-pagi a:hover,
.um .um-cover-add:hover,
.um .um-profile-subnav a.active,
.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color,
.um a.um-link {
  color: #72c057 !important;
}
