.section_with_box{
  padding: 190px 0 100px !important;
}


.text_block,
.section_with_box,
.desc_block,
.sample_page {
  ul {
    list-style-type: none;
    padding-left: 20px;
    li {
      position: relative;
      padding: 5px 0px;
      font-size: 18.375px;
      &:before {
    content: "";
    background-color: #FAD537;
    display: inline-block;
    position: absolute;
    top: 15px;
    margin-right: 10px;
    left: -10px;
    background-repeat: no-repeat;
    background-size: 10px;
    width: 7px;
    height: 7px;
    z-index: 1;
      }
    }
  }
  table {
    margin-top: 30px;
    margin-bottom: 30px;
    tr {
      td {
        padding: 20px 15px;
        border: 5px solid #fff;
      }
      &:nth-child(1) {
        td {
          margin-bottom: 5px;
          font-size: rem(20);
          color: #333132;
          font-weight: 700;
          text-align: center;
          background-color: #fff;
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 4px;
            background-color: #000;
          }
        }
      }
      &:nth-child(even) {
        background-color: #dcdcdc;
      }
      &:nth-child(odd) {
        background-color: #eaeaea;
      }
    }
  }
}

.btn {
  width: 250px;

  a {
    font-size: rem(16);
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 15px 25px;
    text-decoration: none;
    min-width: 205px;
    text-align: center;
    text-transform: uppercase;
    background-color: #4fa436;
    transition: opacity 0.4s;
    &:hover {
      opacity: 0.7;
    }
  }
}
.start {
  min-height: 990px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);

  .videoBg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
      z-index: 9;
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-image: url(../../img/maskowanie.png);
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 9;
  }
  .content {
    position: relative;
    z-index: 10;
  }
  h1 {
    font-size: rem(108);
    color: #fff;
    line-height: 110px;
    margin-top: 20px;
  }
  .btn {
    margin-top: 30px;
    a {
      font-size: rem(20);
      color: #fff;
      background-color: #72c057;
      padding: 22px 55px;
      display: inline-block;
      transition: opacity 0.4s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.desc_img_left{
  background-color: #333132;
  color: white;
}
.desc_img_right{
  background-color: #333132;
  color: white;
}

.page_loop {
  .page_loop_single {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    .img {
      display: none;
    }
  }


  .page_loop_single.img_right {
    hr{
      background-color: #63bc5a;
      width: 90px;
      height: 3px;
      margin-bottom: 80px;
      margin-left: 0;
      opacity: 1;
    }
  }

  .page_loop_single.img_left {
    .content {
      background-color: #333132;
      color: #fff;
      h2 {
        margin-bottom: 30px;
      }
      hr {
        background-color: #72c057;
        width: 70px;
        height: 3px;
        margin-bottom: 50px;
        opacity: 1;
      }
      p {
        line-height: 35px;
      }
      .btn {
        margin-top: 50px;
        a {
          background-color: #72c057;
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .page_loop_single.img_right {
    .img {
      order: 2;
    }
    .content {
      order: 1;
      background-color: #eaeaea;
      color: #333132;
      h2 {
        margin-bottom: 30px;
      }
      hr {
        background-color: #f6cf38;
        width: 70px;
        height: 3px;
        margin-bottom: 50px;
      }
      p {
        line-height: 35px;
      }
      .btn {
        a {
          background-color: #f6cf38;
          color: #000;
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .img {
    max-width: 50%;
    flex: 0 0 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .content {
    max-width: 50%;
    padding: 140px 100px 120px 150px;
    flex: 0 0 50%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 786px) {
      max-width: 100%;
      padding: 60px 20px;
      flex: 0 1 auto;
    }

    h2 {
      font-weight: 400;
    }
    ul {
      list-style-type: none;
      padding-left: 20px;
      li {
        position: relative;
        padding: 5px 10px;
        &:before {
          content: "";
    background-color: #63BC5A;
    display: inline-block;
    position: absolute;
    top: 13px;
    margin-right: 10px;
    left: -10px;
    background-repeat: no-repeat;
    background-size: 10px;
    width: 7px;
    height: 7px;
    z-index: 1;
        }
      }
    }
    hr {
      background-color: #63bc5a;
      width: 90px;
      height: 3px;
      margin-bottom: 80px;
      margin-left: 0;
      opacity: 1;
    }
    .btn {
      margin-top: 30px;
      a {
        font-size: rem(16);
        color: #fff;
        display: inline-block;
        font-weight: 700;
        padding: 18px 35px;
      }
    }
  }
}
