.header__logo {
  img {
    max-width: 188px;
  }
  display: flex;
  align-items: center;
  width: auto !important;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 80;

  &:before {
    display: block;
    content: "";
    height: 0%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
  }
}
header.header-fixed {
  &:before {
    height: 100%;
  }
}
.header__navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 40px;
  .lang {
    ul {
      justify-content: flex-end;
      align-items: center;
      padding-left: 0px;
      margin-bottom: 0px;
      list-style-type: none;
      display: flex;
      li {
        a {
          display: block;
          font-size: rem(11);
          padding: 5px 5px;
          color: #fff;
        }
      }
      li.current-lang {
        a {
          background-color: #72c057;
        }
      }
    }
  }
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none !important;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: inline-block;
      position: relative;
      padding: 0px 30px;
      &:nth-last-child(1) {
        padding-right: 5px;
      }
      & > a {
        color: #fff;
        display: block;
        font-size: 0.9375rem;
        padding: 5px 0px;
      }

      &:hover {
        & > ul {
          transform: scaleY(1);
        }
      }

      & > ul {
        transition: 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        width: 250px;
        background-color: #000;
        z-index: 1;
        transform: scaleY(0);
        transform-origin: 0 0;
        padding: 0px 0px;
        li {
          padding: 0px 0px;
          width: 100%;
          & > a {
            color: #fff;
            font-size: rem(15);
            padding: 10px 15px;
            display: block;
            width: 100%;
            &:hover {
              background-color: #4fa436;
            }
          }
        }
        li.current-menu-item {
          a {
            background-color: #4fa436;
            border-bottom: none;
          }
        }
      }
    }
    li.current-menu-item,
    li.current-page-ancestor {
      & > a {
        border-bottom: 1px solid #72c057;
      }
    }
  }
}

.header-container {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  .desktop-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }

    .user-info {
      width: auto;
      margin: 0px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      a {
        text-decoration: none;

        .user-name {
          font-family: Bebas Neue, sans-serif;
          font-weight: 700;
          letter-spacing: 1px;
          color: #fff !important;
          font-size: 20px;
          margin: 0px;
          margin-right: 20px;
          text-decoration: none;
        }
      }

      .user-link {
        text-decoration: none;

        .user-btn {
          background-color: #72c057;
          color: #fff !important;
          width: 80px;
          font-size: 14px;
          text-align: center;
          border-radius: 0px;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
