body.mobile__menu--open {
  overflow: hidden;
}
.mobile__menu--open .drawer-overlay {
  display: block;
}
body.mobile__menu--open .mobile__nav {
  right: 0;
}

.hamburger {
  position: fixed;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 1000;
  right: 0px;
  top: 0px;
  display: none;
  background-color: #72c057;
  @include tablet {
    display: block;
  }

  &__bar {
    &,
    &:after,
    &:before {
      position: absolute;
      display: block;
      width: 32px;
      height: 4px;
      content: "";
      transform: rotate(0);
      pointer-events: none;
      background-color: $white-mobile;
    }
  }
}

.hamburger {
  .hamburger__bar {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    &,
    &:after,
    &:before {
      transition: top 0.2s 0.2s, left 0.1s, transform 0.2s,
        background-color 0.2s 0.1s;
    }

    &:after,
    &:before {
      transform: rotate(0);
    }

    &:before {
      top: $height-mobile / 3;
    }

    &:after {
      top: -($height-mobile / 3);
    }
  }
}

.hamburger.is-active {
  .hamburger__bar {
    background-color: transparent;

    &:after,
    &:before {
      top: 0;
      transition: background-color 0.2s, top 0.2s, left 0.2s,
        transform 0.2s 0.15s;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.drawer-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.mobile__nav {
  position: fixed;
  z-index: 150;
  top: 0;
  overflow: hidden;
  width: 16.25rem;
  height: 100%;
  color: #fff;
  background-color: #333132;
  right: -16.25rem;
  transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  padding-top: 50px;
  ul {
    list-style-type: none;
    padding-left: 15px;
    li {
      position: relative;

      a {
        color: #fff;
        font-size: 14px;
        display: block;
        margin-bottom: 4px;
        margin-top: 4px;
        position: relative;
        text-decoration: none;
        span {
          position: absolute;
          width: 50%;
          height: 100%;
          text-align: right;
          padding-right: 10px;
          font-size: 17px;
          right: 0px;

          &:before {
            content: "\25be";
          }
        }
      }
    }

    li.open {
      a {
        span {
          &:before {
            content: "\25b4";
          }
        }
      }
    }
    li.current-menu-item,
    li.current-page-ancestor {
      & > a {
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -1px;
          left: 0px;
          width: 30px;
          height: 1px;
          background-color: #72c057;
        }
      }
    }
  }
}

.mobile_menu a {
  text-decoration: none;
}

.user-info a {
  text-decoration: none;

  p {
    color: #fff;
    text-align: center;
  }
}

.user-btn {
  background-color: #72c057;
  color: #fff !important;
  width: 120px !important;
  font-size: 14px;
  text-align: center;
  border-radius: 0px;
}
