@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

// Color navigation
$nav-color: #4a555e;
$black: #000;
$white: #fff;
// p
$p-color: #000;
$p-size: rem(21);
// h3
$h3-color: #000;
$h3-size: rem(30);
// h2
$h2-color: #000;
$h2-size: rem(53);
// h1
$h1-color: #000;
$h1-size: rem(32);
// Title page
$title-color: #000;
$title-size: rem(26);

// Hamburger
$white-mobile: #fff !default;
$black-mobile: #000 !default;
$transition: 0.3s ease !default;
$height-mobile: 32px;
$width-mobile: 32px;

// Global
.wow {
  visibility: hidden;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: $browser-context + px;
}

.transition {
  transition: 0.4s ease-in-out;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.9375rem;
  color: #fff;
  text-transform: uppercase;

  @media (max-width: 768px) {
  font-size: 3.5rem;
  }
}
h2 {
  font-size: $h2-size;
  font-family: "Bebas Neue", sans-serif;
}
h3 {
  font-size: $h3-size;
}
p {
  font-size: $p-size;
}
a {
  color: #72c057;
  &:hover {
    color: #72c057;
  }
}

// Contact form alert bootstrap
div.wpcf7-validation-errors {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
  padding: 10px 10px;
  font-size: 13px;
}
span.wpcf7-not-valid-tip {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  padding: 10px 10px;
  font-size: 13px;
}
.wpcf7-response-output {
  background-color: #fff3cd;
  border-color: #fff3cd !important;
  color: #856404;
  padding: 10px 10px !important;
  font-size: 13px;
}
div.wpcf7-mail-sent-ng {
  clear: both;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  padding: 10px 10px;
  font-size: 13px;
}
div.wpcf7-mail-sent-ok {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  clear: both;
}

a {
  &:active {
    text-decoration: none;
    outline: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
    outline: none;
  }
}
:focus {
  outline: none;
}
:hover {
  outline: none;
}
:active {
  outline: none;
}
button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
@media screen and (min-width: 1700px) {
  .container {
    max-width: 1300px;
  }
}
@media screen and (min-width: 1700px) {
  .container-fluid {
    max-width: 2000px;
    margin: 0 auto;
  }
}
