@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 575px) {
}

.amelia-app-booking .el-button--primary.el-button,
.am-modal.am-in-body .el-button--primary.el-button {
  background-color: #72c057 !important;
  border-color: #72c057 !important;
  color: #ffffff !important;
}

.am-event-color,
.am-modal.am-in-body .am-event-modal__header-title-status.closed {
  background-color: rgba(114, 192, 87, 0.5) !important;
}

.amelia-app-booking #am-event-calendar-page .am-event__btn-gray:hover,
.amelia-app-booking #am-event-calendar-page .am-event__btn-gray:focus,
.amelia-app-booking #am-event-calendar-page .am-event-background {
  background-color: rgba(114, 192, 87, 0.5) !important;
}

.amelia-app-booking #am-event-calendar-page .am-event__btn {
  border-radius: 0px !important;
}

.amelia-app-booking
  #am-event-calendar-page
  .am-event-search
  .el-input--prefix
  .el-input__inner {
  border-radius: 0px !important;
}

.amelia-app-booking #am-event-calendar-page .fc .fc-scrollgrid-liquid {
  border-radius: 0px !important;
}

.category_list {
  padding: 50px 0px;

  .category_list_title {
    text-align: center;

    h2 {
      color: #333132;
      font-family: "Bebas Neue", sans-serif;
    }
  }
}

.page-template-single_product .single_category img {
  max-width: 250px;
  margin-bottom: 30px;
}

.single_category a {
  text-decoration: none;

  p {
    color: #333132;
    font-weight: 400;
    font-family: Bebas Neue, sans-serif;
    font-size: 18.375px;
    line-height: 22px;
    text-align: center;
  }
}
