footer {
  color: #fff;
  padding: 0px 0px 20px 0px;
  background-color: #161616;

  .desc_left {
    margin-bottom: 100px;
    padding-left: 100px;

    h2 {
      margin-bottom: 20px;
    }
    hr {
      margin-left: 0px;
      width: 91px;
      background-color: #72c057;
      height: 3px;
      margin-bottom: 40px;
    }
    p {
      font-size: rem(16);
    }
  }
  .contact_form {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 110px;

    ::-webkit-input-placeholder {
      /* Edge */
      color: #fff;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fff;
    }

    ::placeholder {
      color: #fff;
    }
    .accept {
      .wpcf7-list-item {
        width: 100%;
        display: block;
        margin-left: 0;
        font-size: 13px;
        color: #0e0c0a;
        margin-top: 8px;
        span {
          width: 100%;
        }
        label {
          display: flex;
          position: relative;
          padding-left: 20px;
          span {
            padding-left: 30px;
            p {
              display: inline-block;
              vertical-align: top;
              margin-bottom: 0;
              margin-top: -5px;
              color: #fff;
              font-size: rem(11);
            }
            &:before {
              content: "";
              display: block;
              width: 30px;
              height: 30px;
              margin-right: 20px;
              background-color: rgba(255, 255, 255, 0.2);
              position: absolute;
              left: 0px;
              top: 0;
              &:hover {
                cursor: pointer;
              }
            }
          }
          input {
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            z-index: -1;
            opacity: 0;
          }
          input:checked + span:before {
            background-color: #72c057;
          }
        }
      }
    }
    input[type="text"],
    input[type="email"] {
      max-width: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      outline: none;
      border: none;
      padding: 17px 15px;
      color: #fff;
      font-size: rem(15);
      font-weight: 700;
      border-radius: 0px !important;
    }
    input[type="submit"] {
      background-color: #72c057;
      outline: none;
      border: none;
      padding: 18px 25px;
      color: #fff;
      font-size: rem(15);
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 0px;
      margin-left: auto;
      display: block;
      transition: opacity 0.4s;
      border-radius: 0px !important;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
    textarea {
      max-width: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      outline: none;
      border: none;
      padding: 10px 15px;
      height: 150px;
      min-height: 150px;
      max-height: 150px;
      color: #fff;
      font-weight: 700;
      border-radius: 0px !important;
    }
    .flex_row {
      display: flex;
      flex-wrap: wrap;
      .col_50 {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 5px 5px;
      }
      .col_100 {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 5px 5px;
      }
      .col_70 {
        max-width: 60%;
        flex: 0 0 60%;
        padding: 5px 5px;
      }
      .col_30 {
        max-width: 40%;
        flex: 0 0 40%;
        padding: 5px 5px;
        text-align: right;
      }
    }
  }
  .box_desc {
    border-top: 1px solid #676768;
    border-bottom: 1px solid #676768;
    padding: 10px 0px;
    margin-top: 20px;
    & > .container {
      max-width: 1145px;
    }
    .box_desc_single {
      a {
        text-decoration: none !important;
      }
      position: relative;
      padding: 40px 30px;
      &:nth-last-child(1) {
        &:before {
          display: none;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        height: 97%;
        transform: translateY(-50%);
        background-color: #676768;
        width: 1px;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .footer_down {
    a {
      text-decoration: none !important;
    }
    padding-top: 15px;
    & > .container {
      max-width: 1088px;
    }
    .footer_down_text {
      padding: 10px 0px;
      p {
        font-size: rem(16);
        margin-bottom: 0px;
      }
      a {
        font-size: rem(16);
      }
    }
    .social_box {
      display: flex;
      justify-content: center;
      align-self: center;
      .social_box_single {
        &:nth-child(1) {
          a {
          }
        }
        a {
          display: block;
          padding: 10px 25px;

          img {
            max-width: 20px;
          }
        }
      }
    }
    .copryright {
      padding: 10px 0px;
      text-align: right;

      p {
        font-size: rem(16);
        margin-bottom: 0px;
      }
    }
  }
}

.newsletter {
  padding: 70px 0px;

  .title {
    padding-left: 100px;
    padding-right: 100px;

    h2 {
      font-weight: 400;
      margin-bottom: 0px;
    }
  }
  .form {
    display: flex;
    align-items: center;
  }
  .formCF {
    display: flex;
    align-items: center;
    position: relative;

    ::-webkit-input-placeholder {
      /* Edge */
      color: #000;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #000;
    }

    ::placeholder {
      color: #000;
    }
    .ajax-loader {
      position: absolute;
      bottom: -30px;
    }
    .email {
      padding-right: 5px;
      input {
        max-width: 100%;
        width: 100%;
        background-color: #eaeaea;
        outline: none;
        border: none;
        padding: 18px 15px;
        color: #000;
        font-size: rem(15);
        font-weight: 700;
      }
    }
    .submit {
      padding-left: 5px;
      input[type="submit"] {
        background-color: #f6cf38;
        outline: none;
        border: none;
        padding: 18px 25px;
        color: #000;
        font-size: rem(15);
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 0px;
        margin-left: auto;
        display: block;
        transition: opacity 0.4s;
        min-width: 200px;

        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }
}
